<header>
  <div class="container-grid posicionamento-header">
      <div>
          <a href="/src/index.html"><img class="logo" src="assets/img/logo.svg" alt="logo da gamemania"></a>
      </div>
      <a href="#" id="barras"><img class="barras" src="assets/img/bars.svg" alt="menu de barras"></a>
      <nav id="menu" class="menu">
          <a href="#">inicio</a>
          <a href="#">produtos</a>
          <a href="#">sobre</a>
          <a href="#">login</a>
          <a href="#">carrinho</a>
      </nav>
  </div>
</header>
