<div class="banner">
  <div class="container-grid posicao-texto">
      <div class="texto-banner">
          <h1>GameMania</h1>
          <p>o que há de melhor no mundo dos jogos</p>
          <a href="#">Ofertas</a>
      </div>
  </div>
</div>
<section class="secao-consoles">
      <a href="#"><img src="assets/img/iconps.png" alt="icone playstation"></a>
      <a href="#"><img src="assets/img/iconxbox.png" alt="icone xbox"></a>
      <a href="#"><img src="assets/img/switchicon.png" alt="icone switch"></a>
      <a href="#"><img src="assets/img/pcicon.png" alt="icone pc gamer"></a>
</section>
<section class="secao-sobre">
  <div class="conteudo-sobre container">
      <div class="row">
          <div class="texto-sobre col">
              <h1>A nossa missão é inspirar e valorizar a paixão pelos jogos</h1>
              <h3>de gamer para gamer</h3>
          </div>
          <div class="container-imagem col">
              <img src="assets/img/horizon.png" alt="personagem principal de horizon zero dawn">
          </div>
      </div>
  </div>
</section>
<section class="secao-products">
  <div class="container">
      <div class="bloco-products">
          <h2>produtos em oferta</h2>
          <div id="espaco-produtos" class="content-product">
          </div>
      </div>
  </div>
</section>
<div id="carrossel" class="carrossel">
  <img src="assets/img/banner_cs.png" alt="Banner CS">
  <img src="assets/img/banner_lol.png" alt="Banner lol">
  <img src="assets/img/banner_pilotos.png" alt="Banner Pilotos">
</div>

<form #userForm="ngForm">
  <label for="email">Email: </label>
  <input type="email" name="email" id="email" [(ngModel)] = "userModel">

</form>
