<footer>
  <div class="container rodape">
      <div class="links-footer">
          <div class="links">
              <h2>links uteis</h2>
              <ul>
                  <li><a href="#">Regras de utilização</a></li>
                  <li><a href="#">suporte</a></li>
                  <li><a href="#">central de ajuda</a></li>
                  <li><a href="#">contato</a></li>
              </ul>
              <h2>paginas</h2>
              <ul>
                  <li><a href="#">inicio</a></li>
                  <li><a href="#">localização</a></li>
                  <li><a href="#">login/cadastro</a></li>
                  <li><a href="#">redes sociais</a></li>
              </ul>
          </div>
          <div class="sociais">
              <h2>faça parte do nosso clube, receba novidades sobre a loja e o mundo gamer</h2>
              <form action="">
                  <input id="campo-email" type="email" placeholder="E-mail" required>
                  <button onclick="enviarEmail()" class="botao-cadastrar">Cadastrar</button>
              </form>
          </div>
          <div class="siga-nos">
              <h2>siga-nos em:</h2>
              <a href="#"><img src="assets/img/face.png" alt="logo do facebook"></a>
              <a href="#"><img src="assets/img/insta.png" alt="logo do instagram"></a>
              <a href="#"><img src="assets/img/youtube.png" alt="logo do youtube"></a>
          </div>
      </div>
  </div>
</footer>
